<div class="container">
    <p class="titulo"> * * Elecciones * * </p>

    <div class="linea-horizontal"></div>

    <p class="cargo"> Cargo 1 </p>

        <div class="contenedor">
     
                <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, facilis!</p>
                    </mat-card-content>
                  </mat-card>    
     
                <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, facilis!</p>
                    </mat-card-content>
                  </mat-card>    
      
                <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, facilis!</p>
                    </mat-card-content>
                  </mat-card>    

                <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, facilis!</p>
                    </mat-card-content>
                  </mat-card>    

    </div>
  
    <div class="linea-horizontal"></div>

    <p class="cargo"> Cargo 2 </p>

        <div class="contenedor">
     
                <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, facilis!</p>
                    </mat-card-content>
                  </mat-card>    
     
                <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, facilis!</p>
                    </mat-card-content>
                  </mat-card>    
      
                <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, facilis!</p>
                    </mat-card-content>
                  </mat-card>    

                <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, facilis!</p>
                    </mat-card-content>
                  </mat-card>    

    </div>
  
    <div class="linea-horizontal"></div>

    <p class="cargo"> Cargo 3 </p>

        <div class="contenedor">
     
                <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, facilis!</p>
                    </mat-card-content>
                  </mat-card>    
     
                <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, facilis!</p>
                    </mat-card-content>
                  </mat-card>    
      
                <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, facilis!</p>
                    </mat-card-content>
                  </mat-card>    

                <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, facilis!</p>
                    </mat-card-content>
                  </mat-card>    

    </div>
  
    <div class="linea-horizontal"></div>

    <p class="cargo"> Cargo 4 </p>

        <div class="contenedor">
     
                <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, facilis!</p>
                    </mat-card-content>
                  </mat-card>    
     
                <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, facilis!</p>
                    </mat-card-content>
                  </mat-card>    
      
                <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, facilis!</p>
                    </mat-card-content>
                  </mat-card>    

                <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, facilis!</p>
                    </mat-card-content>
                  </mat-card>    

  
</div>



    <button mat-button routerLink="/Certificado" >Enviar votación</button>
