<div class="footer">
   
    <div class="infomacion">
        <p> <strong> Direccion : </strong>  ...</p>
        <p> <strong> Telefono : </strong>  ...</p>
        <p> <strong> Correo : </strong> ...</p>
    </div>

    <div class="horario">
        <p> <strong> Lunes - Viernes : </strong>  ... </p>
        <p> <strong> Sábado :  </strong> ...  </p>
    </div>

    <div class="redesSociales">
        <a> <img class="redesSociales" src="https://github.com/MunchiP/ImagenesBiblio/blob/main/Face.png?raw=true"> </a>
        <a> <img class="redesSociales" src="https://github.com/MunchiP/ImagenesBiblio/blob/main/Insta.png?raw=true"> </a>
        <a> <img class="redesSociales" src="https://github.com/MunchiP/ImagenesBiblio/blob/main/Youtu.png?raw=true"> </a>
    </div>
</div>