<div class="container">
    <p class="titulo"> Información </p>
    
    <ol>
        <li> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, fugiat. </li>
        <li> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, fugiat. </li>
        <li> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, fugiat. </li>
        <li> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, fugiat. </li>
    </ol>

    <button mat-button routerLink="/Elecciones" >Elecciones</button>
</div>