
.container {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center;  */
    margin-left: 5rem; 
    margin-right: 5rem; 
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.titulo {
    font-size: 40px;
    font-weight: bolder;
    margin-top: 2rem;
    margin-bottom: 4rem; 
}

.union {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;
}


.correoClass{
    width: 150px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #00CE79;
    color: aliceblue;
    margin-bottom: 0;
    font-size: 18px;
    margin-right: 1rem;
    border-radius: 5px;
}

#ingresaCorreo {
    height: 30px;
    width: 300px; 
}

button {
    width: 150px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #205d35;
    color: aliceblue;
    margin-bottom: 0;
    font-size: 18px;
    margin-right: 1rem;
    border-radius: 10px;
}